Source: wyliodrin-app-server
Section: unknown
Priority: optional
Maintainer: Razvan MATEI <matei.rm94@gmail.com>
Build-Depends: debhelper (>= 8.0.0), npm, libpam0g-dev
Standards-Version: 3.9.4
Homepage: https://www.wyliodrin.com
Vcs-Git: https://github.com/Wyliodrin/wyliodrin-app-server.git
Vcs-Browser: https://github.com/Wyliodrin/wyliodrin-app-server

Package: wyliodrin-app-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nodejs, supervisor
Description: wyliodrin-app-server
